body{
    background-image: url("IMG_8997.JPG");
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
}

.container{
    position: relative;
    width: 50%;
}

.img1 {
    display: block;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    filter: drop-shadow(0 0 0.95rem rgb(0, 217, 255))
}

.img2 {
    display: block;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    filter: drop-shadow(0 0 0.95rem rgb(255, 130, 230))
}

.img3 {
    display: block;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    filter: drop-shadow(0 0 0.95rem rgb(0, 217, 255))
}

.img4 {
    display: block;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    filter: drop-shadow(0 0 0.95rem rgb(255, 130, 230))
}

.img5 {
    display: block;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    filter: drop-shadow(0 0 0.95rem rgb(255, 255, 255))
}

.img6 {
    display: block;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    filter: drop-shadow(0 0 0.95rem rgb(255, 255, 255))
}

.img7 {
    display: block;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    filter: drop-shadow(0 0 0.95rem rgb(255, 255, 255))
}

.img8 {
    display: block;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    filter: drop-shadow(0 0 0.95rem rgb(255, 130, 230))
}

.img9 {
    display: block;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    filter: drop-shadow(0 0 0.95rem rgb(0, 217, 255) )
}

.img10 {
    display: block;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    filter: drop-shadow(0 0 2.95rem #bd62ff)
}


h3{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #f1ceff;
    font-weight: bolder;
    font-size: medium;
    text-shadow:
    0 0 5px #5953cd, 0 0 10px #febbff, 0 0 20px #febbff, 0 0 40px #febbff;

   
}




@font-face {
    font-family: neon;
    src: url("NeonBines.ttf");
}
.container{
    display: table-cell;
    text-align:center;
    vertical-align: auto;
}

.status{
    font-family: neon;
    color: #d8e1ff;
    font-size: 9vh;
    line-height: 9vw;
    text-shadow: 0 0 3vw #b9ddff;
    font-weight: bold;
}

.status{
    animation: neon 1s ease infinite;
    -moz-animation: neon 2s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

@keyframes neon{
    0%,
100% {
text-shadow: 0 0 1vw #bb10ff, 0 0 3vw #bb10ff, 0 0 10vw #bb10ff, 0 0 10vw #bb10ff, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #064751;
color: #00f2ff;
}
50% {
text-shadow: 0 0 .5vw #bb10ff, 0 0 1.5vw #bb10ff, 0 0 5vw #bb10ff 0, 0 0 5vw #bb10ff, 0 0 .2vw #bb10ff, .5vw .5vw .1vw #0A3940;
color: #01b5fc;
}
}

.button4{
animation-name: change-color ;
animation-duration: 10s;
animation-iteration-count: infinite;
cursor: pointer;
color: white;
} 


.option button:hover{
transform: scale(0.96);
}


#button_back{   
width: 55px;   
padding: 0%;
border: 2px solid #ff2bca;
background-color: #ff00cc;
border-radius: 1000px;
box-shadow:0 2px 10px 0 #f700f7 inset, 0 2px 10px 0 #f700f7, 
       0 2px 10px 0 #f700ff inset, 0 2px 10px 0 #f700f7, 
       0 2px 10px 0 #f700f7 inset, 0 2px 10px 0 #f700f7;
margin-bottom: 5px;
transition: ease 0.2s all;
}

@keyframes change-color {
25% {
color: #000000;
}
50% {
color: #fb00ff;
}
75% {
color: #250130;
}
100% {
color: #e100ff;
}
}

.back__ p{
margin-bottom: 30px;
margin-right: 20px;
animation-name: change-color ;
animation-duration: 20s;
animation-iteration-count: infinite;
color: rgb(242, 232, 232);
}

.back__{
margin-top: 422px;
display: contents;
align-items: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;  
position:absolute;
top : 32.5%;
left : 5%;
float: right;
animation-name: change-color ;
animation-duration: 20s;
animation-iteration-count: infinite;
}
